h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body{
    background-color:slategray;
}

button{
    border-radius: 8px;
}

#newTaskButton{
    background-color:white;
    height: 50px;
    width: 300px;
    font-size: larger;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-color: black;
}

.taskContainer{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color:cornflowerblue;
    border-bottom: 1px solid black;
    padding: 5px;
    border-radius: 6px;
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.checkButtons{
    background-color: white;
    position: fixed;
    height: 27px;
    width: 180px;
    font-size: 15px;
    left: 85%;
}

.editButtons{
    background-color: white;
    position: fixed;
    height: 27px;
    width: 180px;
    font-size: 15px;
    left: 70%;
}

.dateButton{
    background-color: white;
    position: fixed;
    height: 27px;
    width: 180px;
    font-size: 15px;
    left: 55%;
}